<launch>
    <rosparam file="$(find fbot_db)/config/redis_cache.yaml" ns="fbot_db" command="load" />
    <rosparam file="$(find fbot_db)/config/plugin.yaml" ns="fbot_db" command="load" />
    <node pkg="fbot_db" type="redis_cache_writer.py" name="redis_cache_writer" output="screen"> 
    </node>
</launch>